#mifosx-shell-container {
  max-width: 100%;
  height: 100vh;

  .sidebar-panel {
    min-height: 100vh;
    overflow: auto;
    box-shadow:
      0 3px 1px -2px rgb(0 0 0 / 20%),
      0 2px 2px 0 rgb(0 0 0 / 14%),
      0 1px 5px 0 rgb(0 0 0 / 12%);
  }

  .sidebar-full {
    width: 15rem;
  }

  .sidebar-compact {
    width: 4rem;
  }
}

$bar: 190px;
$foo: $bar * 8;
$color: #e2e4ec;

.sidenav {
  overflow-x: hidden;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 9999;
  background: transparent;
}

.modern-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.spinner-ring {
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #3b82f6, #06b6d4, #10b981, #f59e0b);
  background-size: 400% 100%;
  animation: loading-wave 1.5s ease-in-out infinite;
  border-radius: 2px;

  &:nth-child(1) {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    animation-delay: 0.15s;
  }

  &:nth-child(3) {
    animation-delay: 0.3s;
  }

  &:nth-child(4) {
    animation-delay: 0.45s;
  }
}

@keyframes loading-wave {
  0%, 100% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes move {
  0% {
    left: 0;
  }

  16.7% {
    left: 0;
  }

  33.3% {
    left: calc($foo / 2);
  }

  50% {
    left: $foo - $bar;
  }

  66.7% {
    left: calc($foo / 2);
  }

  83.3% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes grow {
  0% {
    width: $bar;
  }

  16.7% {
    width: calc($foo / 2);
  }

  33.3% {
    width: calc($foo / 2);
  }

  50% {
    width: $bar;
  }

  66.7% {
    width: calc($foo / 2);
  }

  83.3% {
    width: calc($foo / 2);
  }

  100% {
    width: $bar;
  }
}
